@import '../../styles/mixins.scss';

.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 3rem;
  border-collapse: collapse;

  font-family: 'Raleway', sans-serif;;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  color: #161616;

  .forms {
    @include size(100%, 100%);

    form {
      @include flex(column, center, center, 1rem);
    }
  }
}